<<<<<<< HEAD
app = "gdz-bot-ваше-имя-123"
primary_region = "ams"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"
=======
app = "gdz-bot-ваше-имя-123"
primary_region = "ams"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"
>>>>>>> c019fb3704d76551e27d6d4b41bc90cfb01f08b4
